/* 🔧 CSS Boilerplate with Universal Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  overflow: hidden;
}

#curser {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(0, 217, 255, 0.251);

  color: rgb(23, 37, 75);
  font-size: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 10;
  pointer-events: none;
}

#curser span {
  display: none;
}

h1 {
    font-family: 'Bungee', cursive;
font-weight: 100000;
  font-size: 70px;
  color: white;
  margin-top:50px;
  margin-left:50px;
  letter-spacing: px;

  background-image: url(https://images.pexels.com/photos/3925875/pexels-photo-3925875.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;   

}

#main {
  width: 100%;
  height: 100%;

  background-image: url(https://images.pexels.com/photos/531767/pexels-photo-531767.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#main i {
    position: absolute;
    top: 50px;
    right: 50px;
  font-size: 30px;
  color: white;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  color: white;
  font-size: 20px;
}

#full {
  height: 100%;
  width: 40%;
  position: absolute;
  top: 0;
  right: -40%;
  background-color: rgba(255, 255, 255, 0.192);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
}

h3 {
  margin-left: 10vw;
  padding: 2vw;
  font-size: 7vw;
}

#full h4 {
  z-index: 10;
  font-size: 1.5vw;
  color: black;
  padding: 2vw;
  border: 1px solid rgba(196, 174, 174, 0.418);
  box-shadow: 5px 5px 15px rgba(55, 232, 235, 0.3);
}

h4:hover {
  background-color: rgba(26, 174, 232, 0.192);
  backdrop-filter: blur(2px);
}

#full i {
  position: absolute;
  top: 1vw;
  right: 1vw;
  font-size: 3vw;
  color: white;
}


